.App{
   font-family: 'Signika Negative', sans-serif;
}

.App-header{

   display: flex;
   align-items: center;
   background-image: url("../public/images/background02.png"); 
   background-repeat: no-repeat;
   background-size: 100%;
   animation: iniciate .5s;
}

@keyframes iniciate{
   from{
           opacity: 0;
           transform: translate3d(0, -10px, 0);
   }
   to{
       opacity: 1;
       transform: translate3d(0, 0, 0);
   }
 }


.containerSocialMedia{
   
   width: 50%;
   text-align: center;
  
   
}



.photoContainer{
   
   width: 50%;

}


.highlight{
   color: red;
}


@media screen and (max-width: 768px) {

   .App-header{
      background-image: url("../public/images/background02.png"); 
      background-size: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   
   .containerSocialMedia{
     
      width: 90%;
      text-align: center;
      
   }
   
   
   .textPresentation{
     color: whitesmoke;
     font-size: 100%;
     margin: 5px;
     padding: 5px;
      
   }
   
   .photoContainer{
      width: 50%;
   }
   
   

 }


